In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import lenstronomy.Util.param_util as param

In [2]:
data = pd.read_csv('Theta_file.csv')
data = data.head(10000)
data

      COADD_OBJECT_ID  THETA_J2000  SOF_CM_G_1  SOF_CM_G_2
0            64674915    81.591621    0.189597   -0.095171
1            65202540    41.666504   -0.069979   -0.593880
2            64652981   -65.450546    0.400275   -0.051920
3           265087480    79.366226    0.194881   -0.007373
4            64653759    60.267582    0.151276   -0.245377
...               ...          ...         ...         ...
9995        381028809   -16.437691   -0.068334    0.273930
9996        378269265    89.804634    0.088464    0.007255
9997        381981296    33.769753   -0.186811    0.044637
9998        382098647   -28.964821   -0.119812    0.278631
9999        378254560    58.116219    0.007303    0.006777

[10000 rows x 4 columns]

In [3]:
data['my_g2'] = data['SOF_CM_G_1'] * np.tan(2*np.radians(data['THETA_J2000']))
data['my_angle'] = np.degrees(np.arctan(data['SOF_CM_G_2']/data['SOF_CM_G_1'])/2)
data['my_ratio'] = (np.cos(2*np.radians(data['THETA_J2000'])) - data['SOF_CM_G_1']) / (np.cos(2*np.radians(data['THETA_J2000'])) + data['SOF_CM_G_1'])
data

,COADD_OBJECT_ID,THETA_J2000,SOF_CM_G_1,SOF_CM_G_2,my_g2,my_angle,my_ratio
0,64674915,81.591621,0.189597,-0.095171,-0.057303,-13.327474,1.493976
1,65202540,41.666504,-0.069979,-0.593880,-0.598681,41.639798,4.034705
2,64652981,-65.450546,0.400275,-0.051920,0.462072,-3.695299,4.145822
3,265087480,79.366226,0.194881,-0.007373,-0.075854,-1.083372,1.528838
4,64653759,60.267582,0.151276,-0.245377,-0.256456,-29.172937,1.847984
...,...,...,...,...,...,...,...
9995,381028809,-16.437691,-0.068334,0.273930,0.044166,-37.996456,1.177143
9996,378269265,89.804634,0.088464,0.007255,-0.000603,2.344103,1.194105
9997,381981296,33.769753,-0.186811,0.044637,-0.451884,-6.719169,2.913708
9998,382098647,-28.964821,-0.119812,0.278631,0.191217,-33.366075,1.582819
9999,378254560,58.116219,0.007303,0.006777,-0.014820,21.431448,1.033598

In [4]:
lens_g2, lens_ratio, lens_angle = [], [], []
for index, row in data.iterrows():
    angle, ratio = param.ellipticity2phi_q(row['SOF_CM_G_1'], row['SOF_CM_G_2']) 
    g2 = (1-ratio)/(1+ratio)* np.sin(2*angle)
    lens_g2.append(g2)
    lens_ratio.append(ratio)
    lens_angle.append(np.degrees(angle))
data['lens_g2'] = lens_g2
data['lens_ratio'] = lens_ratio
data['lens_angle'] = lens_angle
#data['lens_angle_90'] = 90 + data['lens_angle']

In [5]:
data

,COADD_OBJECT_ID,THETA_J2000,SOF_CM_G_1,SOF_CM_G_2,my_g2,my_angle,my_ratio,lens_g2,lens_ratio,lens_angle
0,64674915,81.591621,0.189597,-0.095171,-0.057303,-13.327474,1.493976,-0.095171,0.649970,-13.327474
1,65202540,41.666504,-0.069979,-0.593880,-0.598681,41.639798,4.034705,-0.593880,0.251574,-48.360202
2,64652981,-65.450546,0.400275,-0.051920,0.462072,-3.695299,4.145822,-0.051920,0.424879,-3.695299
3,265087480,79.366226,0.194881,-0.007373,-0.075854,-1.083372,1.528838,-0.007373,0.673612,-1.083372
4,64653759,60.267582,0.151276,-0.245377,-0.256456,-29.172937,1.847984,-0.245377,0.552481,-29.172937
...,...,...,...,...,...,...,...,...,...,...
9995,381028809,-16.437691,-0.068334,0.273930,0.044166,-37.996456,1.177143,0.273930,0.559668,52.003544
9996,378269265,89.804634,0.088464,0.007255,-0.000603,2.344103,1.194105,0.007255,0.836950,2.344103
9997,381981296,33.769753,-0.186811,0.044637,-0.451884,-6.719169,2.913708,0.044637,0.677754,83.280831
9998,382098647,-28.964821,-0.119812,0.278631,0.191217,-33.366075,1.582819,0.278631,0.534567,56.633925
9999,378254560,58.116219,0.007303,0.006777,-0.014820,21.431448,1.033598,0.006777,0.980271,21.431448