In [1]:
import numpy as np
import pandas as pd
import smatch

#If using script on terminal
#from tqdm import tqdm
from tqdm.notebook import tqdm

In [2]:
data = pd.read_csv('jimena_sdss_redmagic_pixel_new.csv')
data = data.drop(labels = ['HPIX_16384', 'HPIX_4096'], axis=1)
print(len(data))
data.head()

20265

   Y3_COADD_OBJECT_ID          RA       DEC         Z   VEL_DISP
0           192089134  317.928694 -1.693564  0.425612  205.74242
1           210920447  326.522561  1.198045  0.214070  159.25912
2           189877991    5.201865 -3.221905  0.141218  226.97108
3           212181555  325.428341 -0.848045  0.355785  222.05960
4           215141392  326.988581 -1.041021  0.685514  414.34470

In [3]:
catalog = pd.read_csv('Y6_test.csv')
catalog = catalog.drop(labels = ['Y3_COADD_OBJECT_ID', 'RA', 'DEC', 'Z', 'VEL_DISP'], axis=1)
catalog = catalog.rename(columns={'OBJECT_Y6_RA': 'RA', 'OBJECT_Y6_DEC': 'DEC'})
print(len(catalog))
catalog.head()

9999

,Y6_COADD_OBJECT_ID,TILENAME,HPIX_16384,HPIX_4096,RA,DEC,FLUX_RADIUS_G,FLUX_RADIUS_R,FLUX_RADIUS_I,FLUX_RADIUS_Z,SOF_BDF_G_1,SOF_BDF_G_2,IMAFLAGS_ISO_G,IMAFLAGS_ISO_R,IMAFLAGS_ISO_I,IMAFLAGS_ISO_Z
0,1080129167,DES0034+0252,1189136423,74321026,8.344672,3.081071,4.745091,6.168439,8.166247,7.778274,0.541343,-0.171824,0,0,0,0
1,1080510313,DES0034+0209,1184878263,74054891,8.375525,2.026431,3.805764,3.284215,3.263917,3.162437,0.434161,-0.150094,0,0,0,0
2,1081197865,DES0034+0252,1189099603,74318725,8.383497,2.795320,1.936150,1.554106,2.229041,1.092242,-0.002490,0.004668,0,0,0,0
3,1079587713,DES0034-0041,1184053672,74003354,8.354435,-0.747421,2.291226,2.803113,1.549557,2.119821,0.083196,0.074353,0,0,0,0
4,1081109486,DES0034+0126,1184835431,74052214,8.365817,1.532562,2.840984,1.750826,2.277002,1.703388,-0.034599,0.117264,0,0,0,0

In [4]:
ra1 = data['RA']
dec1 = data['DEC']
ra2 = catalog['RA']
dec2 = catalog['DEC']

matches = smatch.match(ra1, dec1, 0.0002, ra2, dec2, nside=4096, maxmatch=1)
data = data.drop(labels = ['RA', 'DEC'], axis=1)
print(len(matches))

592

In [5]:
new_data = pd.DataFrame()
for i in tqdm(range(len(matches))):
    #if(i == 10): break
    point = pd.concat( (data.iloc[matches[i][0]], catalog.iloc[matches[i][1]]), axis=0)
    new_data = new_data.append(point, ignore_index=True)

  0%|          | 0/592 [00:00<?, ?it/s]

In [6]:
new_data = new_data.reindex(columns=['Y6_COADD_OBJECT_ID','Y3_COADD_OBJECT_ID', 'TILENAME', 'HPIX_16384', 'HPIX_4096',
            'RA','DEC','Z', 'VEL_DISP', 'SOF_BDF_G_1', 'SOF_BDF_G_2', 'FLUX_RADIUS_G', 'FLUX_RADIUS_R',
            'FLUX_RADIUS_I', 'FLUX_RADIUS_Z', 'IMAFLAGS_ISO_G', 'IMAFLAGS_ISO_R', 'IMAFLAGS_ISO_I', 
            'IMAFLAGS_ISO_Z'])
new_data = new_data.astype({'Y6_COADD_OBJECT_ID': int, 'Y3_COADD_OBJECT_ID': int,'HPIX_16384': int, 'HPIX_4096': int})

In [7]:
new_data.head()

,Y6_COADD_OBJECT_ID,Y3_COADD_OBJECT_ID,TILENAME,HPIX_16384,HPIX_4096,RA,DEC,Z,VEL_DISP,SOF_BDF_G_1,SOF_BDF_G_2,FLUX_RADIUS_G,FLUX_RADIUS_R,FLUX_RADIUS_I,FLUX_RADIUS_Z,IMAFLAGS_ISO_G,IMAFLAGS_ISO_R,IMAFLAGS_ISO_I,IMAFLAGS_ISO_Z
0,1059921771,189877991,DES0020-0333,1183023752,73938984,5.201903,-3.221938,0.141218,226.97108,-0.040953,0.159928,10.815424,10.379636,10.041495,9.812749,0.0,0.0,0.0,0.0
1,1130592690,289882672,DES0102+0043,1181085279,73817829,15.984414,0.380987,0.390639,162.12335,0.016505,0.002309,6.779067,5.996952,5.715124,5.399650,0.0,0.0,0.0,0.0
2,1337211572,321958413,DES0248-0041,1163080401,72692525,42.159051,-0.807182,0.569965,235.43665,0.053456,0.103722,8.026727,6.681480,5.772569,5.657479,0.0,0.0,0.0,0.0
3,1074613208,147589932,DES0031+0001,1184473021,74029563,7.541294,0.126289,0.638776,279.12393,-0.131615,-0.045243,5.256418,4.171686,3.682693,3.906962,0.0,0.0,0.0,0.0
4,982118207,105106944,DES2257+0209,1236579871,77286241,344.234979,1.928692,0.375308,303.77368,0.185311,-0.127235,7.039348,5.639550,5.460016,5.706751,0.0,0.0,0.0,0.0

In [8]:
new_data.to_csv('lenses_matched_with_Y6.csv', index=False)